<ion-view view-title="Add Task">
    <ion-content>
        <div style="margin-top: 200px"><label
                class="item item-input item-stacked-label"">
            <textarea placeholder="Do what?" rows="5" ng-model="vm.content"></textarea>
            </label>
            <button class="button button-block button-light"
                    ng-click="vm.addTask()"
                    ng-disabled="vm.content.length === 0">
                OK
            </button>
        </div>
    </ion-content>
</ion-view>
